.full-width { 
	max-width: 100%;
	height: auto;
	min-height: 800px;
	
	
}

#aboutme {
 	top: 15%;
 }

 p, h1, h2 {
 	margin-left: 10%;
 	font-family: Helvetica;
 }

#top-gap {
	margin-top: 15%;
}